/* Enter your custom styles here */

.pageMain{
    margin-left: 1rem;
}
.sapFioriListReportTable{
    padding-right: 1rem;
    margin-right: 1rem;
}
/**/
.btnError{
    color: red;
}

.stickyToolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 101;
}